# C/C++/C#
*.o
*.out
*.exe

# Java
*.class
*.jar

# JavaScript
node_modules/
*.log

# Python
__pycache__/
*.py[cod]
env/

# Ruby
*.gem
*.rbc
.bundle
.config

# IDE
.idea/
.vscode/
out/
bin/ 
obj/
log/
build/
.vs/
*.suo
*.user
